<!-- EJS layout to render header from homepage
    so content is uniform throughout the webpage -->
<%- include("partials/header"); -%>


    <%# Contents for the webpage %>
    <h1>Contact</h1>
    <p> <%= contactUsContent %> </p>


<!-- EJS layout to render footer from homepage
    so content is uniform throughout the webpage -->
<%- include("partials/footer"); -%>
